* {
    box-sizing: border-box;
}
:root {
    --background-shade: #383846;
    --foreground-shade: #2D2E39;
    --edge-shade: #414253;
    --main-text: #CDCFDE;
    --background-shade: #1F222A;
    --foreground-shade: #181A1F;
    --edge-shade: #252833;
    --main-text: #CDCFDE;
}

html {
    border: 15px solid;
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-color: var(--background-shade);
    background-color: var(--foreground-shade);
}

p {
    color: var(--main-text);
}
body {
    background-color: var(--background-shade);
}

header {
    padding: 30px;
    border: 2px solid var(--edge-shade);
    border-radius: 40px;
    background-color: var(--foreground-shade);
    font-family: 'Quicksand';
    text-align: center;
    font-weight: normal;
}

#top-header {
    z-index: 2;
    box-sizing: border-box;
    position: static;
    font-size: 40px;
    width: 90px;
    color: var(--main-text);
    background-color: var(--background-shade);
    border: 3px solid var(--edge-shade);
    border-radius: 40px;
    font-weight: 500;
    z-index: 300;
}
header h1 {
    z-index: 300;
}

header p {
    position: relative;
    padding: 20px;
}



@keyframes weight {
    from {
        font-weight: 300;
    }
    to {
        font-weight: 550;
        font-size: 50px;
    }
}

.zoom:hover {
    animation-name: weight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes big {
    from {
        width: 100;
        height: 100;
    }
    to {
        width: 1000;
        height: 1000;
    }
}